.item-details {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  padding: 24px 32px;
  background-color: #fff;
  border-top: 5px solid #007bff;
}

.item-details__title {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 5px 30px;
  text-align: center;
  font-style: italic;
  color: #fff;
  background-color: #007bff;
  clip-path: polygon(7% 0%, 100% 0%, 93% 100%, 0% 100%);
}

.item-details__title--unselected {
  padding: 12px 30px;
  background-color: #6c757d;
}

.item-details .list-group-item {
  gap: 20px;
  padding: 12px 0;
  border-bottom: 1px solid #007bff;
  overflow: hidden;
}

.item-details .label {
  text-align: left;
  font-weight: 700;
}

.item-details .label-desc {
  text-align: right;
  white-space: pre-wrap;
}
