.random-block {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  padding: 30px;
  background-color: #fff;
  border-top: 5px solid #007bff;
  box-shadow: 15px 15px 15px 5px rgba(0, 0, 0, 0.15);
}
.random-block__title {
  margin-bottom: 20px;
  text-align: center;
}
.random-block__title-name {
  display: inline-block;
  padding: 5px 30px;
  color: #fff;
  background-color: #007bff;
  clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
}
.random-block .list-group {
  margin-bottom: 36px;
}
.random-block .term {
  text-align: left;
  font-weight: bold;
}
.random-block .label {
  text-align: right;
  white-space: pre-wrap;
}
.random-block li {
  border-bottom: 1px solid #007bff;
}
.random-block__control--random-char {
  position: absolute;
  z-index: 100;
  left: calc(50% - 55px);
  bottom: -55px;
  width: 110px;
  height: 110px;
  border-radius: 50% !important;
  border: 3px solid #007bff !important;
}
