.item-list__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 300px;
  padding: 20px 0;
  padding-bottom: 0;
  background-color: #fff;
  border-top: 5px solid #007bff;
  border-radius: 0 0 0.5rem 0.5rem;
}

.item-list {
  border-radius: 0 !important;
}

.item-list__title {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 5px 30px;
  text-align: center;
  font-style: italic;
  color: #fff;
  background-color: #007bff;
  border-radius: 0.25rem 0.25rem 0 0;
  clip-path: polygon(7% 0%, 100% 0%, 93% 100%, 0% 100%);
}

.item-list .list-group-item {
  display: flex;
  justify-content: space-between;
  padding: 12px 24px;
  cursor: pointer;
}

.item-list .list-group-item:hover,
.item-list .list-group-item:focus,
.item-list .list-group-item:active {
  background-color: hsl(0, 0%, 90%);
  border-left: 5px solid #007bff;
}

.item-list__control--refresh {
  z-index: 100;
  border-radius: 0 0 0.25rem 0.25rem !important;
}
